.profile__info {
  height: 81px;
  width: 336px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 8px 18px;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 660px) {
  .profile__info {
    height: 60px;
    width: 282px;
    margin-bottom: 30px;
    grid-template-columns: auto 39px;
    gap: 10px 10px;
  }
}