.popup__title {
  margin: 34px 64px 40px 36px;
  width: 330px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 664px) {
  .popup__title {
    margin: 25px 22px 65px 22px;
    width: 238px;
    font-size: 18px;
    line-height: 22px;
  }
}