.popup__input {
  height: 33px;
  width: 100%;
  margin: 0 0 5px 0;
  border: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 664px) {
  .popup__input {
    width: 238px;
  }
}